.my-skills-main-container {
  color: #fff;
  padding-bottom: 8rem !important;
}

#my-skills-title {
  animation: zoom-in-out 1s ease;
  transform-origin: center;
  font-family: homeFont;
  letter-spacing: 3px !important;

  font-size: 2rem !important;
}

#gear-logo {
  box-shadow: rgba(27, 27, 98, 0.637) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  padding: 1.4rem;
}

@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.gear-logo-div {
  display: flex;
  justify-content: center;
}

#gear-logo {
  animation: rotate 16s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gear-line-div {
  display: flex;
  justify-content: center;
  margin-top: 1.3rem;
}

.gear-line {
  box-shadow: 0px 0px 0px 0.1px seashell;
  height: 2.5rem;
  animation-name: gear-line;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes gear-line {
  0% {
    transform: translateY(2rem);
  }
  50% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(2rem);
  }
}

.skills-text-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

  padding: 1.5rem 0rem;
}

.skills-text-div h4 {
  font-weight: 300;
  white-space: nowrap;
  letter-spacing: 1px !important;
}

@media (max-width: 931px) {
  .skills-text-div {
    justify-content: center;
  }
  .skills-text-div h1 {
    margin-left: 0vw !important;
  }
}

@media (max-width: 373px) {
  .skills-text-div h1 {
    margin-left: 0vw !important;
    font-size: 11.7vw !important;
  }
}

.skills-cards-main-container {
  margin-top: 2rem !important;
}

.skills-cards-main-container .card {
  background-color: transparent !important;
  letter-spacing: 1px;
  white-space: nowrap;
  text-align: center;
  border: none;
  cursor: pointer;

  background-image: linear-gradient(
    315deg,
    #2d231c4f 0%,
    #081a2b31 74%
  ) !important;
}

.skills-cards-main-container .card .card-title {
  font-weight: 300;
  margin-bottom: 2rem;
  letter-spacing: 2px !important;
  font-size: 1.1rem;
}

.skills-cards-main-container img {
  width: 95px;
  align-self: center;
  filter: brightness(80%);
}

.skills-cards-main-container .card:hover {
  filter: brightness(140%);
}
